<div class="container">
  <div class="project flex flex-col items-center pt-5 px-5">
    <h1
      class="text-3xl sm:text-4xl font-bold mb-10 project-heading flex flex-col sm:flex-row items-center"
    ><span>W E B</span>
      <span class="sm:ml-6 mt-2 sm:mt-0">S C R A P E R</span></h1>
    <div
      class="user-option flex flex-col sm:flex-row gap-5 w-full sm:w-full justify-center"
    >
      <div class="flex flex-row gap-4">
        <input
          type="text"
          class="border border-black rounded-md text-sm w-full sm:w-80 md:w-96 h-12 sm:h-10 url-holder"
          placeholder="Enter your URL"
        />
        <select
          name=""
          id="content-selector"
          class="rounded-md border border-black text-sm"
        >
          <option value="choose" disabled selected>Choose</option>
          <option value="head1">Heading 1</option>
          <option value="head2">Heading 2</option>
          <option value="head3">Heading 3</option>
          <option value="para">Paragraphs</option>
          <option value="div">Divs</option>
        </select>
      </div>
      <button
        class="text-white w-full sm:w-20 rounded-md scrap-btn h-12 sm:h-10"
      >
        Scrap
      </button>
    </div>
    <div class="indicator mt-8">
      {{! Loading... }}
    </div>
    <div
      class="bg-white w-full lg:w-9/12 h-72 border border-black rounded-md px-4 py-2 mt-8 overflow-auto my-scrollbar"
    >
      <h3 class="text-center font-serif mt-2 mb-4">Scrapped Data</h3>
      <div class="data-shower">
        <ul class="data-list list-disc list-inside space-y-2"></ul>
      </div>
    </div>
  </div>
</div>